@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  margin: 0;
  color: #616161;
  background: #00af9a;
}

h1,
h2,
h3,
h4,
p,
a,
label,
button,
input,
span {
  font-family: "Poppins", sans-serif !important;
}

.mdl-layout__header {
  display: flex !important;
}

.flex-box #search {
  font-weight: bold;
}

#slitPath1 {
  fill: #7118d7;
  stroke: #7118d7;
  stroke-width: 0;
}

#slitPath2,
#slitPath3 {
  fill: #7118d7;
}

.container-events {
  border: 2px solid grey;
}

.mdl-button {
  background: #00af9a !important;
}

#textfield-Searchbyname {
  border-bottom: 2px solid #00af9a;
}

.mdl-textfield__label {
  color: white !important;
}

/** SPINNER **/

.spinner {
  padding-top: 10vh;
  text-align: center;
  background: #7118d7;
}

.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: #00af9a !important;
}

/** SPINNER **/

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mdl-layout__header-row {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px !important;
}

#title {
  text-align: center;
  margin: 3vh;
}

#title img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 6px solid #00af9a;
}

.event {
  min-height: 350px;
  width: 20vw;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh;
  background: #7118d7;
  color: white;
  border: 15px dashed #00af9a;
  padding: 20px;
}

.event h3 {
  font-size: 26px;
  font-weight: bold;
}

.event h4 {
  font-size: 22px;
}
.event a {
  width: 50%;
  margin: 0 auto;
}

.nav-icon {
  font-size: 30px;
  color: #fff;
}

.nav-icon:hover {
  color: #00af9a;
}

@media (max-width: 480px) {
  #right-logo {
    display: none;
  }
  .event a {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .mdl-layout__header-row {
    display: flex;
    justify-content: center;
    padding: 10px !important;
    height: 64px !important;
  }
  .event {
    width: 75% !important;
    margin: 2vh auto !important;
    justify-content: center !important;
  }
}

#radio {
  animation: radio 0.7s ease-in-out infinite alternate;
  transform-origin: center;
}

#alien {
  animation: alien 1.9s infinite;
  transform-origin: center;
}

@keyframes radio {
  from {
    transform: rotateZ(-7deg);
  }
  to {
    transform: rotateZ(7deg);
  }
}

@keyframes alien {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7%);
  }
  100% {
    transform: translateY(0);
  }
}
