@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
  color:#616161;
  background:#00af9a
} 

h1,h2,h3,h4,p,a, label, button, input,span{
  font-family: 'Poppins', sans-serif !important;
}


.flex-box #search{
  font-weight: bold;
}

#title{
  text-align: center;
  margin: 20px;
}
#title img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #00af9a;
}


#slitPath1 {
  fill: #7118d7;
  stroke: #7118d7;
  stroke-width: 0;
}

#slitPath2,
#slitPath3 {
  fill: #7118d7;
}

.container-events{
  border: 2px solid grey;
}


.mdl-button{
  background:#00af9a !important
}

#textfield-Searchbyname{
  border-bottom: 2px solid #00af9a;
}

.mdl-textfield__label{
  color: white !important;
}

/** SPINNER **/

.spinner{
    padding-top: 10vh;
    text-align: center;
    background: #7118d7;
}


.mdl-spinner__layer-1,  .mdl-spinner__layer-2,  .mdl-spinner__layer-3, .mdl-spinner__layer-4 {
  border-color:#00af9a !important
}

/** SPINNER **/

.flex-box{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.mdl-layout__header-row{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px !important;
}

.event{
  min-height: 350px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: #7118d7;
  color: white;
  border:15px dashed #00af9a;
  padding: 20px;
}
.event h3{
  font-size: 26px;
  font-weight: bold;
}

.event h4{
  font-size: 22px;
}
.event a{
  width: 50%;
  margin: 0 auto;
}

.nav-icon{
  font-size: 30px;
  color: #fff
}

.nav-icon:hover{
  color: #00af9a
}


@media(max-width:480px){

  .icon{
    display: none;
  }
  .event a{
    width: 70%;
    margin: 0 auto;
  }
}

@media(max-width:1024px){

  .mdl-layout__header-row{
    display: flex;
    justify-content: center;
    padding:10px !important;
    height: 64px !important
  }

}


@media(min-width:320px){

    .mdl-layout__header{
      display: flex !important
    }

}